.no_encontrado {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.no_encontrado a {
    color: #fff;
    text-decoration: none;
    background: #000;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 20px;
}